*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

.container{
    width:auto;
    height:100vh;
    background-color:black;
}
.navbar{
    display:flex;
    width:auto;
    height:auto;
    justify-content:center;
    gap:10px;
}
.navbar_button{
    width:250px;
    height:45px;
    background-color:rgb(34, 34, 34);
    border:none;
    color:rgb(116, 116, 116);
    font-family:"birthstone-regular";
    font-size:25zpx;
    transform:scale(1);
    text-shadow:0px 0px 0px #ffff;
    transition:transform 0.2s ease-in-out
}
.navbar_button:hover{
    text-shadow:0px 0px 15px #ffff;
    transform:scale(1.05);
    background-color:rgb(43, 43, 43)
}
#Profile{
    border-bottom-left-radius:25px;
}
#Thoughts{
    border-bottom-right-radius:25px;
}
