*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body {
    font-family: "Quintessential", serif;
    font-weight: 200;
    font-style: italic;
}
.container{
    width:auto;
    height:100vh;
    background-color:rgb(0, 0, 0);
}
/* navbar and buttons */
.navbar{
    display:flex;
    width:auto;
    height:auto;
    justify-content:center;
    gap:10px;
}
#Profile{
    border-bottom-left-radius:25px;
}
#Thoughts{
    border-bottom-right-radius:25px;
}
.navbar_button{
    font-family:"Quintessential", serif;
    font-weight:100;
    font-style:normal;
    width:250px;
    height:45px;
    background-color:rgb(34, 34, 34);
    border:none;
    color:rgb(255, 255, 255);
    font-size:20px;
    transform:scale(1);
    text-shadow:0px 0px 0px #ffff;
    transition:transform 0.2s ease-in-out,text-shadow 0.15s ease-in-out;
    text-decoration:none;
    align-content:center;
    text-align:center;
}
.navbar_button:hover{
    text-shadow:0px 0px 10px #ffff;
    transform:scale(1.05);
    background-color:rgb(43, 43, 43);
}
/*third */
.mid{
    display:flex;
    height:95vh;
}
.first{
    display:flex;
    align-items:flex-end;
}
#toji{
    border-right-color: white;
}
#toji_desc{
    font-size:30px;
}
.second{
    color:white;
    padding-top:4%
}
.player{
    display:flex;
    justify-content:center;
    padding-top:10%;
    align-items:center;
}

